[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-environ = "*"
python-decouple = "*"
psycopg2-binary = "*"
black = "*"
zappa = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
factory-boy = "*"
coverage = "*"
responses = "*"

[requires]
python_version = "3.12"
